<p>
  The Content Insight Tool is a system designed to extract data from social media videos and present it in a dashboard.
  This dashboard allow users to compare videos from different brands, social media platforms and periods of time. Some
  insights are generated using machine learning.
</p>

<p>
  The platform is a complex project that started before I joined Hub, around 2018. I was involved during my time at the
  company, where I was responsible for developing modules that retrieve the data, send it to the machine learning module
  (written in Python), store it in a database, and display it in the dashboard.
</p>

<p>Each module utilized a diverse range of technologies:</p>

<ul>
  <li>
    <strong>Dashboard</strong>: A Vue application built using the Quasar framework. The charts were created using
    ECharts.
  </li>

  <li><strong>Backend</strong>: A Node.js Express server that connects to a Postgres database via Sequelize.</li>

  <li>
    <strong>Data Fetching Tool</strong>: A Node.js server that connects to several social media APIs to update the
    videos of the dataset. The API calls are cached in a MongoDB database.
  </li>
</ul>

<p>
  This project was very exciting as it involved a wide range of technologies and significantly contributed to my growth
  as a developer.
</p>
