<p>Ahamo was a web app developed at Hub around 2019, designed to capture and save notes during a event.</p>

<p>
  Participants could add notes during a live event or while watching an on-demand video after the event had finished.
  Each note included a timestamp, providing valuable information for the event host. For instance, the app featured a
  graph showing the number of notes at each timestamp, making it easy to identify the event's highlights.
</p>

<p>The application's backend was built with Go, while the frontend was developed using React.</p>

<p>
  This project was particularly interesting, as it was my first experience with Go and React. Go was especially a
  significant challenge since, at that point of my career, I was more used to dynamically typed languages.
</p>

<p>
  Additionally, users could attach photos, audio or video recordings to their notes. Determining the best way to store
  this type of data was another challenging aspect of the project.
</p>
