<p>
  Around 2022, Hub underwent a brand refresh. Although the project was outsourced to an external agency due to my
  full-time commitment to the Content Insight Tool, I took over once the development was completed. My responsibilities
  included fixing bugs, deploying the site, and mantaining it by creating new pages, updating styles, and adding new
  functionalities.
</p>

<p>
  Working with unfamiliar code added a layer of complexity to the project, making it occasionally challenging. However,
  this project provided an excellent opportunity to learn new methods of developing WordPress sites.
</p>
