<p>
  The website was developed around 2020 to align with Hub’s new brand guidelines, but was discontinued after the brand
  refresh of 2022.
</p>

<p>
  Built using WordPress, the theme was created from scratch, challenging me to deepen my understanding of the framework
  and CSS. Additionally, the forms needed to be submitted to HubSpot, which presented an interesting challenge. This
  integration was achieved through the WordPress REST API.
</p>
