<p>
  Around the year 2020, Bombora was in the process of a brand refresh too, leading to the development of a new website
  to align with the updated guidelines.
</p>

<p>
  The Bombora website project was similar to Hub's 2020 rebranding: it was developed using WordPress with a theme built
  from scratch. This project helped me learn more about the framework and CSS.
</p>
