<p>After finishing my job at Hub, I decided to take courses to learn and improve some skills:</p>

<ul>
  <li>UX/UI design</li>

  <li>Figma</li>

  <li>Three.js</li>

  <li>Shaders</li>
</ul>

<p>The portfolio website that you are looking at now is the result of learning these and other skills:</p>

<ul>
  <li>
    First, I designed the portfolio in Figma to visualize the website's look and feel. I created a wireframe to outline
    the site’s flow and, once satisfied with the result, moved on to creating the UI design.
  </li>

  <li>
    During the UI design process, I decided to use Three.js to showcase my skills. I created an animation using Three.js
    and shaders, which I then used as the website's background.
  </li>

  <li>
    I had always wanted to use a Server-Side Rendering framework for Vue, so I used Nuxt for the portfolio. Although the
    learning curve was steep initially, as it requires rethinking some aspecs of how Vue works, the overall experience
    was enriching.
  </li>
</ul>

<p>
  This project was quite interesting as it allowed me to learn skills I had been eager to acquire. It significantly
  advanced my developer career by providing me with a broader toolset to tackle future programming challenges with
  confidence.
</p>
