<p>
  After completing Jonas Schmedtmann's Ultimate React Course, I wanted to create a React site from scratch to showcase
  my React skills. To do this, I developed a website that receives data for a Steam game and generates an image of its
  Steam widget.
</p>

<p>
  Typically, the Steam widget is added to a site by embedding it in an iframe, but some websites don't allow this. Using
  a screenshot of the widget is a workaround, and my website simplifies this process.
</p>

<p>
  I started this project to address a specific need, which added to my motivation. I also took this opportunity to
  refresh my React and Test-Driven Development (TDD) skills, making the project both interesting and rewarding.
</p>

<p>
  Learning Tailwind was particularly enriching, as I had heard about it but never used it in a project. Creating a
  website without writing any CSS was a paradigm shift and helped me learn different approaches to web development.
</p>
