<p>In my free time, I'm an indie game designer and developer, publishing games under the name 'Paradnight Studio'.</p>

<p>
  Since I'm also a web developer, it made sense to create a website for the studio. The website is fairly simple, as
  I've only published one game and a few experimental projects. I designed it on Figma and reused much of the code from
  my portfolio website to build it.
</p>
