@use "sass:string";
@use "sass:map";
@use "./variables" as *;
@use "./colors" as *;
@use "./mixins" as *;

// Button
.btn {
  $transition-duration: 150ms;

  display: flex;
  align-items: center;
  color: $bg-black;
  width: fit-content;
  background-color: $primary;
  font-family: $mono-font;
  font-weight: 500;
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  outline: 1px $primary solid;
  cursor: pointer;
  transition:
    background-color $transition-duration ease-in-out,
    color $transition-duration ease-in-out,
    outline-color $transition-duration ease-in-out;

  &:hover {
    color: $primary;
    background-color: $bg-black;
  }

  &:active,
  &:focus {
    color: $bg-black;
    background-color: $primary;
  }

  &:focus {
    outline: 2px $text-color dashed;
  }

  &:disabled {
    cursor: not-allowed;
    outline-color: $disabled;
    background-color: $disabled;
    color: $bg-black;
  }

  .icon-wrapper {
    margin-left: 0.8rem;
  }
}

// Link
.link {
  &,
  &:hover,
  &:active,
  &:focus {
    color: $primary;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: 1px solid $primary;
    text-decoration: none;
  }
}

// Spacing
@each $size-name, $child in $spacing {
  .p-#{$size-name} {
    padding: map.get($child, "xs");
  }

  .m-#{$size-name} {
    padding: map.get($child, "xs");
  }

  @each $breakpoint, $size-value in $child {
    @include media($breakpoint) {
      .p-#{$breakpoint}-#{$size-name} {
        padding: $size-value;
      }

      .m-#{$breakpoint}-#{$size-name} {
        margin: $size-value;
      }
    }

    @each $side in $sides {
      $s: string.slice($side, 1, 1);

      .p-#{$s}-#{$size-name} {
        padding-#{$side}: $size-value;
      }

      .m-#{$s}-#{$size-name} {
        margin-#{$side}: $size-value;
      }

      @include media($breakpoint) {
        .p-#{$s}-#{$breakpoint}-#{$size-name} {
          padding-#{$side}: $size-value;
        }

        .m-#{$s}-#{$breakpoint}-#{$size-name} {
          margin-#{$side}: $size-value;
        }
      }
    }
  }
}

// Display
@include generate-class-by-breakpoint(d-flex) {
  display: flex;
}

@include generate-class-by-breakpoint(d-grid) {
  display: grid;
}

@include generate-class-by-breakpoint(d-none) {
  display: none;
}

@include generate-class-by-breakpoint(d-block) {
  display: block;
}

@include generate-class-by-breakpoint(d-inline) {
  display: inline;
}

@include generate-class-by-breakpoint(d-inherit) {
  display: inherit;
}

@include generate-class-by-breakpoint(sticky) {
  position: sticky;
  top: 0;
}

// Text
// Text sizes
@each $size-name, $child in $text-sizes {
  .#{$size-name} {
    @each $breakpoint, $size-value in $child {
      @include media($breakpoint) {
        font-size: $size-value;
      }
    }
  }
}

.text-regular {
  font-weight: 400;
}

.text-medium {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

.mono-font {
  font-family: $mono-font;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.text-color-primary {
  color: $primary;
}

.text-color-black {
  color: $bg-black;
}

.text-color-regular {
  color: $text-color;
}

// Background
.bg-black {
  background-color: $bg-black;
}

@include generate-class-by-breakpoint(bg-black-a-90) {
  background-color: $bg-black-a-90;
}

@include generate-class-by-breakpoint(bg-black-a-80) {
  background-color: $bg-black-a-80;
}

@include generate-class-by-breakpoint(bg-black-a-70) {
  background-color: $bg-black-a-70;
}

@include generate-class-by-breakpoint(bg-black-a-50) {
  background-color: $bg-black-a-50;
}

@include generate-class-by-breakpoint(bg-trans) {
  background-color: transparent;
}

// Borders
.outline-white {
  outline: $text-color 1px solid;
}

.border-white {
  border: $text-color 1px solid;
}

.border-2-white {
  border: $text-color 2px solid;
}

// Flex
.column {
  flex-direction: column;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.align-items-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

// Sizing
@include generate-class-by-breakpoint(full-width) {
  width: 100%;
}

@include generate-class-by-breakpoint(full-height) {
  height: 100%;
}

@include generate-class-by-breakpoint(width-inherit) {
  width: inherit;
}

// Misc
.pointer-events-none {
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

.rotate-180 {
  transform: rotate(180deg);
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}
