@use "./colors" as *;
@use "./variables" as *;

:root {
  // Easier px to rem calculations
  font-size: 62.5%;
}

// html,
// body {
//   // overflow: hidden;
// }

/* stylelint-disable-next-line selector-id-pattern */
html,
body,
#__nuxt {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $text-color;
  font-size: $t-p;
  font-family: $content-font;
}

// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: $text-color;
  font-weight: 400;
}

h1,
.h1,
h2,
.h2 {
  font-family: $title-font;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
