$breakpoint-map: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// prettier-ignore
$sides: ["top", "right", "bottom", "left"];

// spacing
$spacing: (
  1: (
    xs: 1.6rem,
    sm: 1.6rem,
    md: 1.6rem,
    lg: 1.6rem,
    xl: 1.6rem,
    xxl: 1.6rem,
  ),
  2: (
    xs: 3.3rem,
    sm: 3.3rem,
    md: 3.3rem,
    lg: 3.3rem,
    xl: 3.3rem,
    xxl: 3.3rem,
  ),
  3: (
    xs: 5rem,
    sm: 5rem,
    md: 5rem,
    lg: 5rem,
    xl: 5rem,
    xxl: 5rem,
  ),
  4: (
    xs: 6.7rem,
    sm: 6.7rem,
    md: 6.7rem,
    lg: 6.7rem,
    xl: 6.7rem,
    xxl: 6.7rem,
  ),
);

// Text sizes from typescale.com
$t-h1: 4.778rem;
$t-h2: 3.981rem;
$t-h3: 3.318rem;
$t-h4: 2.765rem;
$t-h5: 2.304rem;
$t-h6: 1.92rem;
$t-p: 1.6rem;
$t-small: 1.333rem;
$text-sizes: (
  h1: (
    xs: $t-h3,
    sm: $t-h3,
    md: $t-h3,
    lg: $t-h1,
    xl: $t-h1,
    xxl: $t-h1,
  ),
  h2: (
    xs: $t-h5,
    sm: $t-h5,
    md: $t-h5,
    lg: $t-h3,
    xl: $t-h3,
    xxl: $t-h3,
  ),
  h3: (
    xs: $t-h5,
    sm: $t-h5,
    md: $t-h5,
    lg: $t-h5,
    xl: $t-h5,
    xxl: $t-h5,
  ),
);

// Fonts
// prettier-ignore
$regular-font: #{Roboto, Arial, Helvetica, sans-serif};

// prettier-ignore
$mono-font: #{"Roboto Mono", Arial, Helvetica, sans-serif};
$title-font: $mono-font;
$content-font: $regular-font;
$page-transition-duration: 550ms;
